<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      border-collapse: separate;
      border-spacing: 10px;
    }
    th, td {
      padding: 10px;
    }
  </style>
</head>
<body>
  <h1>Robot: {{ robot_name }}</h1>

  <h2>Data</h2>
  <table>
    <tr>
      <th>Timestamp</th>
      <th>a_min</th>
      <th>a_max</th>
      <th>x</th>
      <th>y</th>
      <th>z</th>
    </tr>
    {% for record in merged_data %}
    <tr>
      <td>{{ record.timestamp }}</td>
      <td>{{ record.a_min }}</td>
      <td>{{ record.a_max }}</td>
      <td>{{ record.x }}</td>
      <td>{{ record.y }}</td>
      <td>{{ record.z }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
